.header {
  background-color: #b3ccff;
  padding: 1%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}

.logo {
  text-align: right;
  width: 20%;
  margin-left: 5%;
}

.search {
  margin: auto 15% auto 5%;
  border: none;
  border-radius: 4px;
  width: 80%;
  font-size: 16px;
  padding: 7px;
}
