.content-input {
  display: block;
  margin: 0 auto;
  width: 80vw;
  font-size: 16px;
  padding: 10px;
  border: none;
  resize: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @media (min-width: 750px) {
    width: 60vw;
  }

  @media (min-width: 1000px) {
    width: 40vw;
  }
}

.title-input {
  width: 80vw;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px;
  border: none;

  @media (min-width: 750px) {
    width: 60vw;
  }

  @media (min-width: 1000px) {
    width: 40vw;
  }
}
